[alias]
psx_build = ["build", "-Zbuild-std=core", "-Zbuild-std-features=compiler-builtins-mem", "--target", "mipsel-sony-psx"]
psx_check = ["check", "-Zbuild-std=core", "-Zbuild-std-features=compiler-builtins-mem", "--target", "mipsel-sony-psx"]
psx_clean = ["clean",                                                                   "--target", "mipsel-sony-psx"]
# cargo +psx psx_rustc --bin puddle-app --release -- --emit asm
psx_rustc = ["rustc", "-Zbuild-std=core", "-Zbuild-std-features=compiler-builtins-mem", "--target", "mipsel-sony-psx"]

riscv_build = ["build", "-Zbuild-std=core", "-Zbuild-std-features=compiler-builtins-mem", "--target", "riscv64gc-unknown-none-elf"]
riscv_check = ["check", "-Zbuild-std=core", "-Zbuild-std-features=compiler-builtins-mem", "--target", "riscv64gc-unknown-none-elf"]
riscv_clean = ["clean",                                                                   "--target", "riscv64gc-unknown-none-elf"]
riscv_run   = ["run",   "-Zbuild-std=core", "-Zbuild-std-features=compiler-builtins-mem", "--target", "riscv64gc-unknown-none-elf"]

[target.mipsel-sony-psx]
rustflags = ["-C", "embed-bitcode=yes", "-C", "codegen-units=1", "-Clink-arg=-Tps-exe.ld", "-Clink-args=-Map=target/app.map", "-Clink-arg=--oformat=binary"]

[target.riscv64gc-unknown-none-elf]
rustflags = ["-Clink-arg=-Triscv.ld", "-Clink-args=-Map=target/kernel.map"]
runner = "qemu-system-riscv64 -machine virt -bios none -serial mon:stdio -kernel "
